*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
    /* esconde el contenido si sobresale */
}

.titulo{
    color: #565ff5;;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #000428; 
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 29%, 0.61), hsla(234, 100%, 8%, 0.63));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 29%, 0.596), hsla(234, 100%, 8%, 0.637)), url("portada.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.barra-navegacion{
    background: #000428; 
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 29%, 0.61), hsla(234, 100%, 8%, 0.11));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 29%, 0.377), hsla(234, 100%, 8%, 0.26)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 5px;
   top: 0;
   position: fixed;
   width: 100%;
   z-index: 1;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}


.boton {
    cursor: pointer;
    background: none;
    background-color: #fff;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 0 0 6px 0 hsla(234, 100%, 8%, 0.63);
}



.boton:hover{
    color: #ffff;
    background: hsla(234, 100%, 8%, 0.63);

}
.wave{
    position: absolute;
    width: 100%;
    bottom: 0%;
}
body{
    background: #f1faff;
}
.tamaño{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container__card{
    width: 100vh;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 15px;
    
}
.card__father{
    margin: 20px;
    perspective: 1000px;
    /* position: relative; */
}
.card__father:hover .card{
    transform: rotateY(180deg);
}
.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}
.card__front{
    background-size: cover;
    background-position: center;
}
.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}
.card__back{
    transform: rotateY(180deg);
    background: white;
}
.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}
.body__card_back{
    padding: 40px;
    text-align: justify;
    transform: translateZ(60px);
}
.body__card_back li{
    text-align: justify;
}
.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}
.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}
.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
.contactanos{
    margin: 50px auto;
    padding: auto;
}

footer{
    width: 100%;
    height: 300px;
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 29%, 0.61), hsla(234, 100%, 8%, 0.63));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 29%, 0.596), hsla(234, 100%, 8%, 0.637)), url("portada.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: static;
    
}